<footer class="section-footer bg-dark footer-dark mt-auto">
    <div class="container">
        <section class="footer-bottom d-flex justify-content-lg-between border-top">
            <p class="text-muted mb-0"> &copy; {% now "Y" %} Lunch Express. All rights reserved. </p>
            <nav>
                <span>
                    <i class="fas fa-heart text-danger"></i>
                    Final Year Project
                </span>
            </nav>
        </section>
    </div>
    <!-- container end.// -->
</footer>